body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;	
}
#rot{
  transform: rotate(20deg);
}
#grad1 {
  height: 150px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(yellow, orange, red);
}
/* Header styles */
header {
	background-color: #333;
	color: white;
	padding: 20px;
}
nav a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
}
nav a:hover {
background: linear-gradient(to bottom, #150905 0%, #eb622f 100%);
}
/* Main section styles */
main{
	padding: 50px;
	text-align: center;
 	background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%), 
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
main h2 {
	color: black;
	font-size: 36px;
	margin-bottom: 50px;	
}
main p {
	color: black;
	font-size: 18px;
	margin-bottom: 50px;
}
main img {
	max-width: 100%;
	height: auto;
	margin-top: 20px;
	box-shadow: 0px 0px 10px #333;
}
/* Menu section styles */
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fff;
	padding: 50px;
}
.menu-item {
	flex-basis: 30%;
	margin-bottom: 50px;
	box-shadow: 0px 0px 10px #999;
	padding: 20px;
	text-align: center;
}
.menu-item img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.menu-item h3 {
	color: #333;
	font-size: 24px;
	margin-bottom: 10px;
}
.menu-item p {
	color: #666;
	font-size: 16px;
	line-height: 1.5;
}
/* Footer styles */
footer {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
}
footer p {
	font-size: 14px;
	margin: 0;
}
/* Gradient styles */
header {
	background: linear-gradient(to bottom, #333 0%, #666 100%);
}
nav a:hover {
	background: linear-gradient(to bottom, 127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%);
}
section {
	background: radial-gradient(circle, #fff 0%, #eee 100%);
}
.menu-item:hover {
	background: linear-gradient(to top, #e6b3ff 0%, #eee 100%);
	transform: translateY(-5px);
}
footer {
	background: linear-gradient(to bottom, #666 0%, #333 100%);
}

